In [1]:
##going to read in test and train csv's and run my models datasets for submission

In [2]:
import pandas as pd

In [3]:
titanic_df = pd.read_csv('Train.csv')

In [4]:
titanic_df.columns

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age',
       u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')

In [5]:
titanic_df.Name = titanic_df.Name.apply(lambda x: x.split(',')[1].split('.')[0])

In [6]:
titanic_df.Name

0           Mr
1          Mrs
2         Miss
3          Mrs
4           Mr
5           Mr
6           Mr
7       Master
8          Mrs
9          Mrs
10        Miss
11        Miss
12          Mr
13          Mr
14        Miss
15         Mrs
16      Master
17          Mr
18         Mrs
19         Mrs
20          Mr
21          Mr
22        Miss
23          Mr
24        Miss
25         Mrs
26          Mr
27          Mr
28        Miss
29          Mr
        ...
861         Mr
862        Mrs
863       Miss
864         Mr
865        Mrs
866       Miss
867         Mr
868         Mr
869     Master
870         Mr
871        Mrs
872         Mr
873         Mr
874        Mrs
875       Miss
876         Mr
877         Mr
878         Mr
879        Mrs
880        Mrs
881         Mr
882       Miss
883         Mr
884         Mr
885        Mrs
886        Rev
887       Miss
888       Miss
889         Mr
890         Mr
Name: Name, dtype: object

In [7]:
titanic_df.Age = titanic_df.Age.fillna(titanic_df.Age.mean())

In [8]:
from sklearn import preprocessing
Age = titanic_df.Age
Fare = titanic_df.Fare

scaler = preprocessing.StandardScaler().fit(Age)
titanic_df.Age = scaler.transform(Age)

scaler = preprocessing.StandardScaler().fit(Fare)
titanic_df.Fare = scaler.transform(Fare)

//anaconda/lib/python2.7/site-packages/sklearn/preprocessing/data.py:586: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
//anaconda/lib/python2.7/site-packages/sklearn/preprocessing/data.py:649: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
//anaconda/lib/python2.7/site-packages/sklearn/preprocessing/data.py:586: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
//anaconda/lib/python2.7/site-packages/sklearn/preprocessing/data.py:649: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

In [9]:
Sex = pd.get_dummies(titanic_df.Sex)
Pclass = pd.get_dummies(titanic_df.Pclass)
Name = pd.get_dummies(titanic_df.Name)
Embarked = pd.get_dummies(titanic_df.Embarked)

In [10]:
titanic_df.drop(['Pclass','Sex','Name','Embarked','PassengerId','Ticket','Cabin'], axis=1, inplace=True)

In [11]:
titanic = pd.concat([titanic_df,Pclass,Sex,Name,Embarked],axis=1)

In [12]:
Survived = titanic.Survived

In [13]:
titanic.drop('Survived', axis=1,inplace=True)

In [14]:
titanic.head()

,Age,SibSp,Parch,Fare,1,2,3,female,male,Capt,...,Mme,Mr,Mrs,Ms,Rev,Sir,the Countess,C,Q,S
0,-0.592481,1,0,-0.502445,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.638789,1,0,0.786845,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,-0.284663,0,0,-0.488854,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.407926,1,0,0.420730,1.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.407926,0,0,-0.486337,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [15]:
X = titanic
y = Survived

In [16]:
X.drop(X.columns[[5,8,9,10,11,12,13,14,15,17,18,19,22,27]] ,axis=1, inplace=True)

In [17]:
X.columns

Index([          u'Age',         u'SibSp',         u'Parch',          u'Fare',
                      1,                3,        u'female',       u' Master',
                 u' Mr',          u' Mrs',          u' Rev',          u' Sir',
       u' the Countess',             u'C',             u'S'],
      dtype='object')

In [18]:
X.drop(X.columns[[11,12]], axis=1, inplace=True)

In [19]:
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LogisticRegression
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, 
                                                    random_state=88)

//anaconda/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [20]:
logreg = LogisticRegression(C=0.19306977288832497)
logreg.fit(X_train, y_train)

LogisticRegression(C=0.193069772888, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [21]:
test_df = pd.read_csv('Test.csv')

In [22]:
test_df.columns

Index([u'PassengerId', u'Pclass', u'Name', u'Sex', u'Age', u'SibSp', u'Parch',
       u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')

In [23]:
test_df.Age = test_df.Age.fillna(test_df.Age.mean())

In [24]:
test_df.Name = test_df.Name.apply(lambda x: x.split(',')[1].split('.')[0])

In [25]:
test_df.columns

Index([u'PassengerId', u'Pclass', u'Name', u'Sex', u'Age', u'SibSp', u'Parch',
       u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')

In [26]:
test_df.Fare = test_df.Fare.fillna(test_df.Fare.mean())

In [27]:
from sklearn import preprocessing
Age = test_df.Age
Fare = test_df.Fare

scaler = preprocessing.StandardScaler().fit(Age)
test_df.Age = scaler.transform(Age)

scaler = preprocessing.StandardScaler().fit(Fare)
test_df.Fare = scaler.transform(Fare)

//anaconda/lib/python2.7/site-packages/sklearn/preprocessing/data.py:586: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
//anaconda/lib/python2.7/site-packages/sklearn/preprocessing/data.py:649: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
//anaconda/lib/python2.7/site-packages/sklearn/preprocessing/data.py:586: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)
//anaconda/lib/python2.7/site-packages/sklearn/preprocessing/data.py:649: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  warnings.warn(DEPRECATION_MSG_1D, DeprecationWarning)

In [28]:
Sex1 = pd.get_dummies(test_df.Sex)
Pclass1 = pd.get_dummies(test_df.Pclass)
Name1 = pd.get_dummies(test_df.Name)
Embarked1 = pd.get_dummies(test_df.Embarked)

In [29]:
PassengerId = test_df.PassengerId

In [30]:
test_df.drop(['Pclass','Sex','Name','Embarked','PassengerId','Ticket','Cabin'], axis=1, inplace=True)

In [31]:
test_df.head()

        Age  SibSp  Parch      Fare
0  0.334993      0      0 -0.498407
1  1.325530      1      0 -0.513274
2  2.514175      0      0 -0.465088
3 -0.259330      0      0 -0.483466
4 -0.655545      1      1 -0.418471

In [32]:
test_df = pd.concat([test_df,Pclass1,Sex1,Name1,Embarked1],axis=1)

In [33]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 21 columns):
Age        418 non-null float64
SibSp      418 non-null int64
Parch      418 non-null int64
Fare       418 non-null float64
1          418 non-null float64
2          418 non-null float64
3          418 non-null float64
female     418 non-null float64
male       418 non-null float64
 Col       418 non-null float64
 Dona      418 non-null float64
 Dr        418 non-null float64
 Master    418 non-null float64
 Miss      418 non-null float64
 Mr        418 non-null float64
 Mrs       418 non-null float64
 Ms        418 non-null float64
 Rev       418 non-null float64
C          418 non-null float64
Q          418 non-null float64
S          418 non-null float64
dtypes: float64(19), int64(2)
memory usage: 68.6 KB

In [34]:
X.columns

Index([    u'Age',   u'SibSp',   u'Parch',    u'Fare',          1,          3,
        u'female', u' Master',     u' Mr',    u' Mrs',    u' Rev',       u'C',
             u'S'],
      dtype='object')

In [35]:
test_df.drop(test_df.columns[[5,8,9,10,11,12,16,19]] ,axis=1, inplace=True)

In [36]:
test_df.columns

Index([   u'Age',  u'SibSp',  u'Parch',   u'Fare',         1,         3,
       u'female',  u' Miss',    u' Mr',   u' Mrs',   u' Rev',      u'C',
            u'S'],
      dtype='object')

In [37]:
X.columns

Index([    u'Age',   u'SibSp',   u'Parch',    u'Fare',          1,          3,
        u'female', u' Master',     u' Mr',    u' Mrs',    u' Rev',       u'C',
             u'S'],
      dtype='object')

In [38]:
Y_pred1 = logreg.predict(test_df)
Y_pred1

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0])

In [39]:
test_df['Raw_Probas'] = Y_pred1

In [40]:
# test_df['Survived'] = test_df['Raw_Probas']

In [41]:
# test_df.drop(['Raw_Probas'], axis=1, inplace=True)

In [42]:
def make_predic(x):
    if x>0.33:
        return 1.0
    else:
        return 0.0


test_df['Survived'] = test_df['Raw_Probas'].apply(make_predic)

In [43]:
test_df['PassengerId'] = PassengerId

In [44]:
test_df.to_csv('Kaggle.csv',
              columns=['PassengerId', 'Survived'], 
              index=False)

In [45]:
# test_df.to_csv('KaggleModel2.csv', columns=['PassengerId', 'Survived'], index=False)